<launch>

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
  </include>

  <arg name="map_file" default="SMRAB"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find rct_turtlebot)/maps/$(arg map_file).yaml" output="screen"/> 

  <arg name="turtlebot_name" default="unknown_node" />

  <include file="$(find rct_turtlebot)/launch/includes/_amcl.launch">
      <arg name="turtlebot_name" value="$(arg turtlebot_name)" />
  </include>

  <include file="$(find rct_turtlebot)/launch/move_base.launch"/> 

  <group ns="$(arg turtlebot_name)" >
    <node name="pose_pub" pkg="rct_turtlebot" type="pose_pub"  />
  </group>

</launch>

