<launch>

<!--Set up enemy nodes-->
<node name="Random_for_enemy_1" pkg="robot_control" type="random_goals_publisher">
  <remap from="random_goal" to="enemy_1/random_goal"/>
</node>
<node name="enemy_1" pkg="robot_control" type="enemy_robot_control">
  <remap from="goal_from_publisher" to="enemy_1/random_goal"/>
  <remap from="flag_for_enemy" to="flag_for_enemy_1"/>  
</node>
<node name="Random_for_enemy_2" pkg="robot_control" type="random_goals_publisher">
  <remap from="random_goal" to="enemy_2/random_goal"/>
</node>
<node name="enemy_2" pkg="robot_control" type="enemy_robot_control">
  <remap from="goal_from_publisher" to="enemy_2/random_goal"/>
  <remap from="flag_for_enemy" to="flag_for_enemy_2"/>  
</node>
<!--=============================================-->


<node name="my_robot" pkg="robot_control" type="control_robot"/>
</launch>