<?xml version="1.0" encoding="utf-8"?>
<launch> 



  <arg name="turtlebot_name"  default="unknown_node" />

  <node name="random_goals_publisher" pkg="rct_turtlebot"
        type="random_goals_publisher" output="screen">
    <param name="randMinX" value="-1.2" />
    <param name="randMaxX" value="1.2"  />
    <param name="randMinY" value="0" />
    <param name="randMaxY" value="1.5"  />
    <param name="loopRate" value="0.4" />

    <remap from="cmd_from_master" to="$(arg turtlebot_name)/cmd_from_master"/>
    <remap from="stop_flag_from_master" to="$(arg turtlebot_name)/stop_flag_from_master"/>
    <remap from="clear_flag_from_master" to="$(arg turtlebot_name)/clear_flag_from_master"/>
    <remap from="pose_pub" to="$(arg turtlebot_name)/pose_pub"/>
  </node>


</launch>
